@charset "UTF-8";

body{
  background-color: rgb(107, 107, 241);
  font-family: Arial, Helvetica, sans-serif;
}

header{
  color: white;
  text-align: center;
}

main{
  background-color: white;
  width: 400px;
  margin: auto;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.435);
}

input[type='number']{
  text-align: center;
  width: 100px;
}

div#conteudo{
  margin: 20px 0px 5px 0px;
  text-align: center;
}
img#foto{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin-top: 15px;
}

footer{
  text-align: center;
  color: white;
  font-style: italic;
}
footer  a{
  color: white;
  text-decoration: none;
}
footer  a:hover{
  text-decoration: underline;
}