@charset "UTF-8";

 body{
  background-color: #091921;
  font-family: Arial, Helvetica, sans-serif;
 }

 header{
  text-align: center;
  color: white;
 }

 main{
  background-color: white;
  width: 500px;
  margin: auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.454);
  padding: 10px;
  border-radius: 5px;
 }

 input[type='number']{
  width: 80px;
  text-align: center;
 }

 div#res{
  margin-top: 15px;
 }

 footer{
  color: white;
  text-align: center;
 }
 footer a{
  color: white;
  text-decoration: none;
 }
 footer a:hover{
  text-decoration: underline;
 }